.text_content {
    text-transform: uppercase;
    color: var(--prymaryblue);
    position: relative;
    z-index: 2;
    text-align: center;
}

.text_content h1 {
    font-weight: 600 !important;
}

.text_content img {
    position: absolute;
    top: 110%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
}
.container_work{
    color: var(--prymaryblue);
}
.container_work{
    padding: 2vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}
.container_work h2{
    font-size: 40px ;
}
.about_work{
    margin-top: -100px;
    padding-bottom: 50px;
}

.vacancies_content{
    padding: 2vw;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.vacanc_block{
    color: var(--prymaryblue);
    width: 100%;
    height: 100%;
    border: 2px solid #80959F;
}
.titlevacancy{
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
}
.main_infvacancy{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main_infvacancy h4{
    color: var(--prymaryblue);
    font-weight: 100 !important;
}
.contentsssj{
    padding: 1vw;

}
.vacanc_block img{
    width: 100%;
    height: 100%;
    padding-top: 20px;
    object-fit: cover;
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
}
.backform_container{
    padding: 2vw;
    color: var(--prymaryblue);
}
.about_us_block{
    padding: 2vw 2vw 0vw 2vw;
    max-width: 1440px;
}
.formseco{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_us_block h1{
    color: var(--prymaryblue);
    padding-bottom: 50px;
}


.about_container{
    display: flex;

}
.checkbox-wrapper{
    display: flex;
    align-items: center;
    gap: 14px;
}
.wrapbutoo{
        display: flex;
        gap: 24px;
    align-items: center;
    justify-content: space-between;
}
.about_container img{
    width: 45vw;
}

@keyframes rotateCircle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 834px) {
    .background_block {
        width: 100%;
        aspect-ratio: 419 / 667;
        background: url(/src/assests/img/backgorunds/background_vacancy_mibile.png) no-repeat center center;
        background-size: cover;
    }
    .about_container img{
    width: 0vw;
}
.wrapbutoo{
        display: flex;
        gap: 24px;
        flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.wrapbutoo .primary_but{
width: 100%;
}
.about_us_block{
    padding-bottom: 100px;
}
.about_us_block {
    padding: 5vw 5vw 30vw 5vw;
    max-width: 1440px;
}

.about_work {
    margin-top: -100px;
    padding-bottom: 40px;
}
    .vacancies_content {
    padding: 2vw;
    display: flex;
    gap: 24px;
    justify-content: space-between;
    flex-direction: column;
}

    .container_work {
    padding: 2vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
}
.about_work{
    margin-top: 0px;
}

    .circle_wrapper {
        width: 65vw;
        height: 65vw;
    }

    .text_content img {
        width: 60vw;
    }
    .titlevacancy {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
}
@media screen and (max-width: 450px){
    .contentsssj {
        padding: 5vw;
    }
    .about_us_block h1 {
    color: var(--prymaryblue);
    padding-bottom: 4vw;
    padding-top: 5vw;
}
    .contentblokcfooter {
        height: 100%;
        padding: 6vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .input {
    color: var(--prymaryblue);
    font-size: 20px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--prymaryblue);
}
}

