.button {

    cursor: pointer;
    border: none;
    background: var(--secondaryblue);
    color: #fff;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
    display: grid;
    place-content: center;
    transition: background 300ms, transform 200ms;
    font-weight: 600;
}
.buttonsrcleposition{
    position: relative;
    top: 19%;
}

.button__text {
  position: absolute;
  inset: 0;

  font-size: 14px;
  animation: text-rotation 8s linear infinite;

    > span {
        position: absolute;
        transform: rotate(calc(11deg * var(--index)));
        inset: -9px;
    }
}

.titl_{
    font-size: 45px;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    font-weight: 800;
    line-height: 118.5%;
    letter-spacing: -3px;
}
.button__circle {
  position: relative;
    width: 110px;
    height: 110px;
  /* overflow: hidden; */
  background: var(--prymaryblue);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__icon--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover {
  background: var(--secondarygold);
  transform: scale(1.05);
}

.button:hover .button__icon {
  color: #000;
}

.button:hover .button__icon:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

@keyframes text-rotation {
  to {
    rotate: -360deg;
  }
}