@import "./fonts/fonst.css";
@import "./components/header.css";
@import "./components/alert.css";
@import "./components/sercle_button.css";
@import "./components/yamap.css";
@import "./components/button.css";
@import "./components/footer.css";
@import "./components/input.css";
@import "./components/checkbox.css";
@import "./components/form.css";
@import "./components/grid_edu.css";
@import "/src/style/components/swithes.css";
body{
    margin: 0 auto;
    max-width: 1920px;
    background-color: var(--white);
    font-family: "inter";
    color: var(--black);
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x:  hidden;
    overflow-y:  auto;
}
html, body {
  height: 100%;
  overscroll-behavior-y: contain; /* уменьшает «перекатывание» на iOS/Android */
}

a{
    color: var(--black);
    text-decoration: none;
}
nav{
    list-style: none;
}
:root{
    --prymarygold: #DCB678;
    --secondarygold: rgba(220, 182, 120, 0.586);
    --prymaryblue: #012C3E;
    --secondaryblue: #1a41517c;
    --black: #252525;
    --white: #FFFFFF;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.tinnfont{
    padding-top: 4vw;
      padding-bottom: 4vw;
    font-size: 10px;
    font-family: "asear";
    letter-spacing: 10px;
}
