.hero_container {
    width: 100%;
    /* Убираем фиксированную высоту */
}

.background_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1920 / 1080; /* пропорции твоей картинки */
    background: url("/src/assests/img/backgorunds/Background_edication.png") no-repeat center center;
    background-size: cover; /* масштабируется пропорционально */
}


.content_hero{
    width: 50vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.ststistic_content{
    width: 100%;
    height: 100%;
}

.circle_wrapper {
    position: relative;
    width: 50vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/src/assests/img/education_aydent.png") no-repeat center center;
    background-size: contain;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}
.text_content_educ{
    position: relative;
    z-index: 10;
}
.text_content {
    text-transform: uppercase;
    color: var(--prymaryblue);
    position: relative;
    z-index: 2;
    text-align: center;
}

.text_content_educ{
    color: var(--prymaryblue);
    text-align: center;
    padding: 4vw;
}
.ststistic_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toptext{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.statisticblock{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    gap: 24px;
    align-items: center;
}
.blue_block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: var(--prymaryblue);
}
.title_text_statustic_block{
    display: flex;
    padding: 2vw;
    flex-direction: column;
    gap: 24px;
}
.title_text_statustic_block h1{
    color: var(--prymarygold);
}
.title_text_statustic_block h4{
    color: var(--white);
}
.upblock{
    margin-top: -150px;
}



@media screen and (max-width: 834px){
    .background_block {
        width: 100%;
        aspect-ratio: 375 / 667; /* пример пропорции для мобильной картинки */
        background: url("/src/assests/img/backgorunds/background_edication_mobile.png") no-repeat center center;
        background-size: cover;
    }
    .content_hero {
    width: 100%;
    padding: 10vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.blue_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: var(--prymaryblue);
}
.upblock{
    margin-top: -0px;
}
.statisticblock{
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-top: 100px;
    gap: 24px;
    align-items: center;
}
}
