.hero_container {
    width: 100%;
    /* Убираем фиксированную высоту */
}

.background_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1920 / 1080; /* пропорции твоей картинки */
    background: url("/src/assests/img/backgorunds/Background_edication.webp") no-repeat center center;
    background-size: cover; /* масштабируется пропорционально */
}


.content_hero{
    width: 50vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.ststistic_content{
    width: 100%;
    height: 100%;
}

.circle_wrapper {
    position: relative;
    width: 50vw;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle_img {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 780px;
    background: url("/src/assests/img/education_aydent.webp") no-repeat center center;
    background-size: contain;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}
.text_content_educ{
    position: relative;
    z-index: 10;
}
.text_content {
    text-transform: uppercase;
    color: var(--prymaryblue);
    position: relative;
    z-index: 2;
    text-align: center;
}

.text_content_educ{
    color: var(--prymaryblue);
    text-align: center;
    padding: 4vw;
}
.ststistic_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toptext{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.statisticblock{
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    gap: 24px;
    align-items: center;
}
.blue_block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: var(--prymaryblue);
}
.title_text_statustic_block{
    display: flex;
    padding: 2vw;
    flex-direction: column;
    gap: 24px;
}
.title_text_statustic_block h1{
    color: var(--prymarygold);
}
.title_text_statustic_block h4{
    color: var(--white);
}
.upblock{
    margin-top: -150px;
}
.curses_blokc{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.curses_content{
    max-width: 1440px;
    padding: 2vw;
    display: flex;
    align-items: center;
    gap: 24px;
}

.number_cur {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 24px 24px 0px 24px;
    flex-wrap: wrap;
}
.number_cur{
        padding: 24px 24px 24px 24px;
}
.description_text_cur{
    padding: 24px 24px 0px 24px;
}
.case{
    width: 100%;
    height: 100%;
    background-color: var(--black);
}
.case{
    color: var(--white);
}
.number_cur{

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
.icontext{
    display: flex;
    align-items: center;
    gap: 24px;
}
.icontext img{
    width: 2vw;
}
.descooi{
    padding: 16px 0px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.descooi h2{
    color: var(--prymaryblue);
}
.this{
    padding: 1vw;
}
.titleofb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
}
.borderiuj{
    border-radius: 60px;
    padding: 1vw 1.5vw;
    border: 2px solid var(--prymaryblue);
}
.textifjj{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -7vw;
}
.titleofb h1{
    color: var(--prymaryblue);
}

.uptext{
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
    color: var(--prymaryblue);
}
.a h4 {

    color: var(--prymaryblue);
}

@media screen and (max-width: 834px){
    .background_block {
        width: 100%;
        aspect-ratio: 375 / 667; /* пример пропорции для мобильной картинки */
        background: url("/src/assests/img/backgorunds/background_edication_mobile.webp") no-repeat center center;
        background-size: cover;
    }
.curses_content{
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.grid {
    position: relative;
    width: 96%;
    max-width: 1440px;
    margin: auto;
}
.casor{
    padding-bottom: 45px;
}
    .content_hero {
    width: 100%;
    padding: 10vw;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}
.blue_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: var(--prymaryblue);
}
.upblock{
    margin-top: -0px;
}
.statisticblock{
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-top: 100px;
    gap: 24px;
    align-items: center;
}
}
